#drawer {
  height: 700px;
  position: absolute;
  background-color: rgba(51, 51, 51, 0.9);
  -webkit-transition: ease-in-out .5s all;
  transition: ease-in-out .5s all;
  /*right: 20px;*/
  top: 50px;
  border-radius: 3px;
  width: 350px;
}

#drawer-close-button {
  background-color: #424242;
  border: none;
  color: white;
/*  padding: 15px 32px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
/*  margin: 4px 2px;*/
  cursor: pointer;
  border-radius: 3px;
}

#drawer-close-button:hover { 
    background-color: #930C18;
}

#drawer-content {
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.hidden-drawer {
  /*width: 0px;*/
  right: -350px;
}

.visible-drawer {
  /*width: 350px;*/
  right: 20px;
 /* -webkit-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.75);*/
}

.visible-element {
  visibility: visible;
}

.hidden-element {
  visibility: hidden;
}

#drawer-header {
  margin-bottom: 20px;
  height: 50px;
}

/*========STATION NAME AND TEMPS========*/
#station-name {
  font-size: 1.8em;
  color: white;
}

#last-updated {
  color: rgb(159, 159, 159);
}

#temp-minmax {
  text-align: center;
  font-size: 1.3em;
  color: rgb(159, 159, 159);
  margin-bottom: 15px;
}

#temp {
  text-align: center;
  font-size: 3em;
  color: white;
}
/*=======END STATION NAME AND TEMPS=======*/


/*===============FIRST ROW===============*/
.first-row {
  color: white;
  text-align: center;
}

.label-icon {
  width: 16px;
  height: 16px;
}

.first-row-title {
  color: white;
  margin-bottom: 15px;
}

.icon-title {

}

.first-row-value {
  font-size: 2em;
}

/*===============END FIRST ROW===============*/


/*===================SOIL TABLE===============*/

#soil-depth-header {
  color: white;
  text-align: center;
}

#soil-temp-header {
  color: white;
  text-align: center;
}

#soil-moisture-header {
  color: white;
  text-align: center;
}

.soil-depth {
  color: rgb(159, 159, 159);
  text-align: center;
}
.soil-temp {
  color: white;
  text-align: center;
}
.soil-moisture {
  color: white;
  text-align: center;
}


/*=================END SOIL TABLE=============*/

/*====================WIND====================*/
.simple-weather-header {
  color: white;
  text-align: center;
}

#wind-direction-icon {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

#wind {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}


/*==================END WIND==================*/
.detail {
  font-size: 1.3em;
}

#drawer-controls {
  clear: both;
  position: absolute;
  top: 0px;
  right: 0px;

}

.rainfall-gif {
  height: 600px;
  width: auto;
}