#monitoring-banner {
/*  width: 100%;
  height: 600px;*/
  background-color: rgb(51, 51, 51);/*#D1D1D1; */

}

#monitoring-map {
  width: 100%;
  height: 600px;
/*  display: none;*/
/*  position: absolute;*/
}

#chart-explanation {
  color: rgb(153, 153, 153);
}

.quick-fact-title {
  color: rgb(153, 153, 153);
}

.quick-fact {
  color: #95CEFF;
  font-size: 1.8em;
  font-weight: bold;
}

#quick-fact-notes {
  color: rgb(153, 153, 153); 
}