.markdown-textarea {
  .textarea-container {    
    width: 100% !important;
    .textarea-input {
      width: 100%;
      font-weight: 500;
    }
    .textarea-label {

    }
  }

  .media-lib {
    width: 80%;
  }
}